.navbar-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  margin-left: 10%;
  position: relative;
  
}
.navbar-heading{
  font-weight: 500;
  font-size: 1.7em;
}
.navbar-links{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.navbar-links a{
  text-decoration: none;
  color: white;
}
.navbar-search{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.navbar-search>input{
  padding: 5px 10px;
  background-color: black;
  border: 0;
  color: grey;
  font-weight: bolder;
  border-radius: -1;

}
#search-icon{
  background-color: white;
  color: black;
  padding: 7px 10px;
}
.sidebar{
  position: absolute;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  top: 0px;  
  width: 10%;
  justify-content: space-between;
  align-items: center;
}
.top-icon{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.4em;
  align-items: center;
}
.bottom-icon{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.4em;
  align-items: center;
}
.content{
   display: flex;
   flex-direction: column;
  margin-top: 10px;

  position: absolute;
  top: 84px;
  margin-left: 10%;

}

.card1-progress-bar{
  width: 80%;
}
.greenyellow{
  height: 10px;
  background-color: greenyellow;
  width: 32%;
  border-radius: 50%;
  margin-top: 23px;
}.lightblue{
  height: 10px;
  background-color: lightblue;
  width: 18%;
  border-radius: 50%;
  margin-top: 23px;
}.blue{
  height: 10px;
  background-color: blue;
  width: 32%;
  border-radius: 50%;
  margin-top: 23px;
}.green{
  height: 10px;
  background-color: green;
  width: 18%;
  border-radius: 50%;
  margin-top: 23px;
}
.colors{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
}
/*  */
.upper-part{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 9em;
  background-color: black;
}
.card1{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 5em;
  margin-top: 2em;
}
.card1-heading{
  display: flex;
  gap: 10em;
}
.color-1{
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.color-1 p{
  font-size: 10px;
  color: grey;
}
.card3 img{
  width: 80%;
  /* height: 50%; */
  margin-top: 23px;

}
.lower-section{
  background-color: black;
  margin-top: 2px;
  display: flex;
  gap: 20%;
  
}
.risk-section{
  display: flex;
  flex-direction: column;
}
.risks{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.25em;
}
.section-21-content{
  display: flex;
  flex-direction: column;
}
.table-content{
  display: flex;
  justify-content: space-between;
  gap: 4em;
}
.section-21-button{
  display: flex;
  justify-content: space-between;
}
#btn{
  border: 1px solid white;
  padding: 5px 10px;
}
.section-21{
  display: flex;
  gap: 1.2em;
}
.section-2{
  display: flex;
  flex-direction: column;
}
.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  /* border: 1px solid white; */
  /* width: 50%; */
}